 .box {
    border: 1px solid black;
    width: fit-content;
    height: 30px;
    padding: 5px;
 }

 .container {
   background-color: lightgray;
   width: fit-content;
   height: fit-content;
   padding: 5px;
   margin-top: 2ch;
 }